header {background-color: rgb(163, 255, 127);
color: orangered;
display: flex;
justify-content: space-around;}
.cabecalho-imagem{width: 25%;}
li {
    display: inline-block;
    margin:0 16px ;
    padding: px;
    font-size: 24px;

}
h1{
    margin: 0 100px;
    padding:  250px 0;
    font-size: 40px;
}